body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
}

#app-container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

#pokemon-form {
  width: 75%;
  margin: 5% auto;
  text-align: center;
}

#pokemon-logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.pokemon-card {
  display: inline-block;
  text-align: center;
  width:230px;
  margin:10px;
  background:#fecd2f;
  color:#2d72fc
}
